/* CSS Document */

@font-face{
    font-family: Gotham;
    src: url("../assets/fonts/GothamBold.ttf");
}

html,body{
  	padding: 0;
  	margin: 0;
	box-sizing: border-box;
  	text-align: center;
  	font-family: Gotham;
	color: white;
	white-space: nowrap;
	overflow: overlay;
	overflow-x: hidden;
}

.section-content{
	background-color: #242424;
	padding: 50vh;
}

h1{
	display: inline-block;
	font-size: 5vw;
}

.title-shadow-bottom{
	height:10vh;
	background:-webkit-linear-gradient(90deg, #242424 0%, rgba(255,255,255,0) 100%);
}

.banner{
	margin:0;
	padding-top:20vw;
	display:inline-flex;
}

.nav-banner *{
	margin:auto;
	padding:3vw;
	font-size: 2.5vw;
	color: #fff;
	text-decoration: none;
	display:inline-block;
}

#bg-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}
/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: blue orange;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
	width: 10px;
  }
  
  *::-webkit-scrollbar-thumb {
	background-color: rgba(78, 78, 78, 0.5);
	border-radius: 20px;
  }